MONGO_URI=your_mongodb_connection_string
PORT=8000
JWT_SECRET=your_jwt_secret

FMP_API_KEY=your_fmp_api_key
FINNHUB_API_KEY=your_finnhub_api_key
FINNHUB_WEBSOCKET_URL=wss://ws.finnhub.io

API_KEY=your_alpha_vantage_api_key
API_URL=https://www.alphavantage.co/query

PYTHON_API_URL=http://127.0.0.1:5001
LSTM_API_URL=http://127.0.0.1:8080
