MODEL_PATH=multivariate_lstm_model.h5
SCALER_PATH=scaler.save
WINDOW_SIZE=60

API_KEY=your_alpha_vantage_api_key
API_URL=https://www.alphavantage.co/query
FUNCTION=TIME_SERIES_DAILY
OUTPUTSIZE=full
DATATYPE=csv
START_DATE=2015-01-01

TWELVE_DATA_API_KEY=your_twelve_data_api_key
